
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  .btn {
      padding: 0 1rem;
  }
  .brand-logo img {
    position:relative; 
    top:10px; 
    left:20px;
  }

  .header-text {
  font-size: 1.5rem;
  color: #63707e;
  padding-top: .5rem;
  padding-bottom: .75rem;
  line-height: 1.1;
}
.portfolio-cta {
    margin-top: 3rem;
}
.social-icons  {
    margin-right: .5rem;
    opacity: .85;
}
.contact-details {
    line-height: 1.5;
}
.contact-details i {
    padding-right: .25rem;
}
.show-hide {
    cursor: pointer;  
    padding-left: .5rem;
}
.show-hide:hover {
    text-decoration: underline;
}
#phoneNumber {
    display: inline-block;
    min-width: 100px;
}
#emailAddress {
    display: inline-block;
    min-width: 170px;
}
#emailAddress a {
    color: #fff;
}
.home-cards {
    padding-top: 2rem;
}
.home-cards span {
    display: block;
    margin-top: 2rem;
    text-align: center;
}
.card-vector {
    background: #e4e4e4;
    border: 5px solid grey;
    width: 150px;
    height: 150px;
    line-height: 140px;
    border-radius: 50%;
    margin:auto;
}
.card-vector i {
    line-height: inherit;
    display: block;
    text-align: center;
    font-size: 4rem;
    color: grey;
}
.card-content p {
    line-height: 1.5;
}
@media only screen and (max-width: 600px) {
    .brand-logo img {
        position:relative; 
        top:6px; 
    }
  }